body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

body a {
	text-decoration: none;
}

ul li:before {
	content: "";
}

ul {
	margin: 0 auto 0 -45px;
}

ul li {
	list-style: none outside none;
}

#incorrect {
	color: red;
}

#correct {
	color: green;
}