body {
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

#incorrect {
	color: red;
}

form {
  display: inline-block;
  text-align: center;
}

table {
  width: 40% !important;
  margin: 0 auto;
}

#rowone, #rowtwo, #rowthree, #rowfour, #rowfive, .panel {
	visibility: hidden;
	display: none;
}

.panel {
	width: 500px;
	margin: 0 auto;
}

.panel-body {
	padding: 15px;
}

.flags {
	background: url("img/stateflags.png");
	background-position: 0 -401px;
	height: 100px;
	width: 150px;
	padding-bottom: 15px;
	margin: 0 auto 15px;
}